*{
    margin: 0;
    padding: 0;
    background-color: #BCB1AA;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Comic Neue';
}

@font-face{
    font-family: 'Comic Neue';
    src: url('assets/fonts/comicneue-regular-webfont.woff') format('woff');
}

.main-screen{
    background-color: none;
    visibility: visible;
}

.head{
    position: absolute;
    width: 100%;
    height: 15%;
    background-color: #F4EFD7;
    border-bottom: #5C504D solid 3px;
    border-top: #5C504D solid 3px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 10%;
}

.head span{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: transparent;
    text-align: center;
    width: max-content;
    height: max-content;
    font-size: 50px;
    letter-spacing: 15px;
    user-select: none;
    color: #5C504D;
    font-weight: 1000;
}

.alert{
    background-color: #FFFF81;
    position: absolute;
    width: 100%;
    height: 25px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 22.5%;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert span{
    background-color: transparent;
    position: absolute;
    font-size: 12px;
    text-align: center;
    height: max-content;
    width: max-content;
    animation: scrollingAnim 7.5s linear infinite;
    font-weight: 1000;
}

@keyframes scrollingAnim {
    from {
      transform: translate3d(150%, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
}

